In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Data Preprocessing

In [3]:
dataset_train = pd.read_csv("Google_Stock_Price_Train.csv")

In [32]:
dataset_train

            Date    Open    High     Low   Close      Volume
0       1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1       1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2       1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3       1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4       1/9/2012  322.04  322.29  309.46  620.76  11,688,800
...          ...     ...     ...     ...     ...         ...
1253  12/23/2016  790.90  792.74  787.28  789.91     623,400
1254  12/27/2016  790.68  797.86  787.66  791.55     789,100
1255  12/28/2016  793.70  794.23  783.20  785.05   1,153,800
1256  12/29/2016  783.33  785.93  778.92  782.79     744,300
1257  12/30/2016  782.75  782.78  770.41  771.82   1,770,000

[1258 rows x 6 columns]

In [29]:
training_set = dataset_train.iloc[:, 1:2].values

Feature Scaling

In [30]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
training_set_scaled = sc.fit_transform(training_set)

Create a data structure with 60 timesteps and 1 output

In [33]:
X_train = []
Y_train = []
for i in range(60,1258):
        X_train.append(training_set_scaled[i-60:i,0])
        Y_train.append(training_set_scaled[i,0])

In [34]:
X_train,Y_train = np.array(X_train),np.array(Y_train)

In [37]:
X_train,Y_train

(array([[0.08581368, 0.09701243, 0.09433366, ..., 0.07846566, 0.08034452,
         0.08497656],
        [0.09701243, 0.09433366, 0.09156187, ..., 0.08034452, 0.08497656,
         0.08627874],
        [0.09433366, 0.09156187, 0.07984225, ..., 0.08497656, 0.08627874,
         0.08471612],
        ...,
        [0.92106928, 0.92438053, 0.93048218, ..., 0.95475854, 0.95204256,
         0.95163331],
        [0.92438053, 0.93048218, 0.9299055 , ..., 0.95204256, 0.95163331,
         0.95725128],
        [0.93048218, 0.9299055 , 0.93113327, ..., 0.95163331, 0.95725128,
         0.93796041]]),
 array([0.08627874, 0.08471612, 0.07454052, ..., 0.95725128, 0.93796041,
        0.93688146]))

Reshaping - Add dimension incase we want to add more dimensionality later

In [40]:
X_train = np.reshape(X_train,(X_train.shape[0], X_train.shape[1],1))

# Building RNN

In [42]:
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import Dense

In [43]:
RNN = Sequential()

1st LSTM Layer and Dropout Regularization

In [44]:
RNN.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))
RNN.add(Dropout(0.2))

2nd LSTM Layer and Dropout Regularization

In [45]:
RNN.add(LSTM(units = 50, return_sequences = True))
RNN.add(Dropout(0.2))

3rd LSTM Layer and Dropout Regularization

In [46]:
RNN.add(LSTM(units = 50, return_sequences = True))
RNN.add(Dropout(0.2))

4th LSTM Layer and Dropout Regularization

In [47]:
RNN.add(LSTM(units = 50))
RNN.add(Dropout(0.2))

Output Layer

In [48]:
RNN.add(Dense(units = 1))

# Prediction